awsNitroEnclavesK8SDaemonset:
  awsNitroEnclavesK8SDp:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    env:
      enclaveCpuAdvertisement: "false"
      maxEnclavesPerNode: "4"
    image:
      repository: public.ecr.aws/aws-nitro-enclaves/aws-nitro-enclaves-k8s-device-plugin
      tag: 0.3.1
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 15Mi
      requests:
        cpu: 10m
        memory: 15Mi
  nodeSelector:
    aws-nitro-enclaves-k8s-dp: enabled
  tolerations: []
kubernetesClusterDomain: cluster.local
